*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    height: 4rem;
    border-bottom: 2px solid grey;
}

.main{
    display: flex;
}

.pimg_container{
    height: 80%;
    width: 50vw;
    text-align: center;
    justify-content: center;
}
.pimg{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    text-align: center;
}

.details{
    text-align: center;
    justify-content: center;

}

